html, body{
	height: 100%;
}

.layout {
	width: 1140px;
	margin: 0 auto;
}

.bg {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-image: url(//cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big);
	background-size: cover;
	z-index: -1;
  filter: blur(4px);
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

main {
	padding: 10vh 0 6vh 0;
	height: calc(100% - 24vh);
	display: flex;
}

footer {
	height: 24vh;
	background-color: #ded;
}

main .aside {
}

main .aside figure {
	border-radius: .3em;
	width: 50vh;
	height: 50vh;
	background-image: url(//cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
	background-size: cover;
	background-position: center;
}

main .aside .actions {
	padding-top: 1.2vh;
	display: flex;
	justify-content: space-around;
}

main .actions .iconfont {
	font-size: 5vh;
	color: #888;
	cursor: pointer;
	transition: all .3s;
}
main .actions .iconfont:hover {
	color: #fff;
}

main .detail {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding-left: 8vh;
	flex: 1;
}

main .detail .tag {
	flex-grow: .1;
	display: inline;
}

main .detail .tag span {
	border-radius: .3em;
	display: inline-block;
	background-color: #b47;
	padding: 1vh 1.4vh;
}

main .detail .icons {
	display: flex;
}

main .detail li {
	font-size: 3vh;
	flex:1;
}

main .detail h1 {
	flex-grow: 1;
}

main .icons .iconfont {
	font-size: 3vh;
	margin-right: 1vh;
}

main .progress {
	flex-grow: .6;
	align-items: center;
	display: flex;
}

main .progress .progress-bar {
	position: relative;
	flex: 1;
	height: .8vh;
	background-color: rgba(0, 0, 0, .2);
	margin-right: 1.5vh;
}

main .progress-bar-inner {
	position: absolute;
	height: .8vh;
	background-color: rgba(255, 255, 255, .9);
	width: 10%;
}

main .progress p {
	margin-right: 4vh;
}

main .detail .author {
	flex-grow: .1;
	font-size: 3vh;
}

main .detail .lyric {
	color: rgba(255, 255, 255, .5);
}