html, body{
	height: 100%;
}

@media (min-width: 700px) {
  .layout {
    width: 600px;
  }
}

@media (min-width: 900px) {
  .layout {
    width: 800px;
  }
}

@media (min-width: 1000px) {
  .layout {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .layout {
    width: 1100px;
  }
}

.layout {
	margin: 0 auto;
}

.bg {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-image: url(//cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big);
	background-size: cover;
	z-index: -1;
  filter: blur(4px);
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

main {
	padding: 10vh 0 6vh 0;
	height: calc(100% - 24vh);
	display: flex;
}

main .aside {
}

main .aside figure {
	border-radius: .3em;
	width: 50vh;
	height: 50vh;
	background-image: url(//cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
	background-size: cover;
	background-position: center;
}

main .aside .actions {
	padding-top: 1.2vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

main .actions .iconfont {
	font-size: 5vh;
	color: #888;
	cursor: pointer;
	transition: all .3s;
}

main .actions .icon-xunhuanbofang {
    font-size: 4vh;
}

main .actions .iconfont:hover {
	color: #fff;
}

main .detail {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding-left: 8vh;
	flex: 1;
}

main .detail .tag {
	flex-grow: .1;
	display: inline;
}

main .detail .tag span {
	border-radius: .2em;
	display: inline-block;
	background-color: #b47;
	padding: 1vh 1.4vh;
}

main .detail .icons {
	display: flex;
}

main .detail li {
	font-size: 3vh;
	flex:1;
}
main .detail  i {
	cursor: pointer;
}

main .detail h1 {
	flex-grow: 1;
}

main .icons .iconfont {
	font-size: 3vh;
	margin-right: 1vh;
}

main .progress {
	flex-grow: .6;
	align-items: center;
	display: flex;
}

main .progress .progress-bar {
	position: relative;
	flex: 1;
	height: .8vh;
	background-color: rgba(0, 0, 0, .2);
	margin-right: 1.5vh;
}

main .progress-bar-inner {
	position: absolute;
	height: .8vh;
	background-color: rgba(255, 255, 255, .9);
	width: 10%;
}

main .progress p {
	margin-right: 4vh;
}

main .detail .author {
	flex-grow: .1;
	font-size: 3vh;
}

main .detail .lyric {
	color: rgba(255, 255, 255, .5);
}

footer {
	height: 24vh;
	background-color: #ded;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
}
footer .layout {
	position: relative;
}

footer .layout .iconfont {
	position: absolute;
	top: 5vh;
	font-size: 8vh;
	opacity: 0;
	transition: all .4s;
	cursor: pointer;
}

footer .layout:hover .iconfont {
	opacity: .4;
}

footer .layout .iconfont:hover {
	opacity: 1;
}

footer .layout .icon-fanhui {
	left: -9vh;
}

footer .layout .icon-gengduo {
	right: -9vh;
}

footer .carousel {
  position: relative;
  height: 24vh;
}

footer ul{
  position: absolute;
  left: 0;
}

footer ul:after {
  content: '';
  display: block;
  clear: both;
}

footer li{
  float: left;
  margin: 2vh 2vh 0 2vh;
  width: 20vh;
  height: 20vh;
  text-align: center;
  cursor: pointer;
}

footer li:hover {
  box-shadow: 0 0 .5vh .4vh rgba(255,255,255,0.6);
}

footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center;
}

footer h3{
  font-size: 2vh;
  color: rgba(255,255,255,0.6);
  margin-top: 1vh;
}
